@font-face {
  font-family: "BwGradual-Black";
  src: url("../font/BwGradualDEMO-Black.otf");
}

@font-face {
  font-family: "BwGradual-Bold";
  src: url("../font/BwGradualDEMO-Bold.otf");
}

@font-face {
  font-family: "BwGradual-Light";
  src: url("../font/BwGradualDEMO-Light.otf");
}

@font-face {
  font-family: "BwGradual-Medium";
  src: url("../font/BwGradualDEMO-Medium.otf");
}

@font-face {
  font-family: "BwGradual-Regular";
  src: url("../font/BwGradualDEMO-Regular.otf");
}

@font-face {
  font-family: "BwGradual-Thin";
  src: url("../font/BwGradualDEMO-Thin.otf");
}

:root{
  --purple: #9685fe;
  --black: #000;
  --white: ■#fff;
}

body{
  transition: background-color ease-out .5s;
} 

.vdodiv{
  clip-path: circle(var(--clip) at 50% 50%);
}

*::selection{
  background-color: var(--purple);
}

body[theme="black"]{
  background-color: var(--black);
  color: white;
}

body[theme="white"]{
  background-color: var(--white);
}